<div class="col-md-8 col-md-offset-2">
	<h4 id="tableTitle">Players with best score</h4> 
	<div *ngIf = "listTopTenScore">
		<table class="table table-striped">
			<tr>
				<th id="tableSubtitle">Name</th>
				<th id="tableSubtitle">Games played</th>
				<th id="tableSubtitle">Total score</th>
			</tr>
			<tr *ngFor = "let player of listTopTenScore" class="player">  
				<td id="tableList">{{player.name}}</td>
				<td id="tableList">{{player.numGamesPlayed}}</td>
				<td id="tableList">{{player.score}}</td>
			</tr>
		</table>
	</div>
</div>
