<div class="container">
	<div>
		<h4 id="listsTitle">Players with best score</h4>
		<!--  <div *ngIf = "listTopTenScorePlayers">
			<table class="table table-striped">
				<tr>
					<th id="tableSubtitle">Name</th>
					<th id="tableSubtitle">Email</th>
					<th id="tableSubtitle">Games Played</th>
					<th id="tableSubtitle">Player Score</th>
				</tr>
				<tr *ngFor = "let player of listPlayers" class="player">  
					<td id="tableList" class="name">{{player.name}}</td>
					<td id="tableList" class="email">{{player.email}}</td>
					<td id="tableList" class="numGamesPlayed">{{player.numGamesPlayed}}</td>
					<td id="tableList" class="numGamesPlayed">{{player.score}}</td>
				</tr>
			</table>
		</div>
	</div>-->
	<p>fdhkjhfdfdsa</p>
</div>