<div class="col-md-8 col-md-offset-2">
	<h4 id="tableTitle">Players with most victories</h4>
	<div *ngIf = "listTopTenVict">
		<table class="table table-striped">
			<tr>
				<th id="tableSubtitle">Pos.</th>
				<th id="tableSubtitle">Name</th>
				<th id="tableSubtitle">Games played</th>
				<th id="tableSubtitle">Games won</th>
			</tr>
			<tr *ngFor = "let player of listTopTenVict; let i = index">  
				<td id="tableList">{{i+1}}</td>
				<td id="tableList">{{player.name}}</td>
				<td id="tableList">{{player.numGamesPlayed}}</td>
				<td id="tableList">{{player.numGamesWon}}</td>
			</tr>
		</table>
	</div>
</div>