<div class="container">
    <div id="initBtns">
        <button id="btn-PA" class="btn btn-primary siderBtn">Porta-Aviões</button>
        <button id="btn-C" class="btn btn-primary siderBtn">Couraçado</button>
        <button id="btn-CR" class="btn btn-primary siderBtn">Cruzador</button>
        <button id="btn-CT" class="btn btn-primary siderBtn">Contratorpedeiro</button>
        <button id="btn-S" class="btn btn-primary siderBtn">Submarino</button>

        <!--
        <br>
        <table id="boatPreview">
            <tr>
                <td class="boatPreviewCell">N</td>
                <td class="boatPreviewCell">N</td>
                <td class="boatPreviewCell">N</td>
                <td class="boatPreviewCell">N</td>
            </tr>
            <tr>
                <td class="boatPreviewCell"></td>
                <td class="boatPreviewCell"></td>
                <td class="boatPreviewCell"></td>
                <td class="boatPreviewCell"></td>
            </tr>
            <tr>
                <td class="boatPreviewCell"></td>
                <td class="boatPreviewCell"></td>
                <td class="boatPreviewCell"></td>
                <td class="boatPreviewCell"></td>
            </tr>
            <tr>
                <td class="boatPreviewCell"></td>
                <td class="boatPreviewCell"></td>
                <td class="boatPreviewCell"></td>
                <td class="boatPreviewCell"></td>
            </tr>
        </table>
        -->
    </div>
</div>