<div class="container">
	<!-- <div class="col-md-6 col-md-offset-3">  
		<h4 id="listsTitle">Players registered</h4>
		<p>testeee</p>
	</div> -->

	<!-- Lista players -->
	<list></list>
	
	<div class="col-md-8 col-md-offset-2 background-divs">
		<h5 id="tableTitle">All games history</h5>
		<div *ngIf = "listTotGames">
			<table class="table table-striped">
				<tr>
					<th id="tableSubtitle">Game Id</th>
					<th id="tableSubtitle">Status</th>
					<th id="tableSubtitle">Begin date</th>
					<th id="tableSubtitle">Winner</th>
					<th id="tableSubtitle">Plays log</th>
				</tr>
				<tr *ngFor = "let game of listTotGames">  
					<td id="tableList">{{game._id}}</td>
					<td id="tableList">{{game.status}}</td>
					<td id="tableList">{{game.beginDate | date : shortTime}}</td>
					<td id="tableList">{{game.winnerPlayer}}</td>
					<td><button type="submit" class="btn btn-primary btn-game-log" (click)="showGameLog(game)">Log</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>