<div class="container">
  <div [hidden]="submitted">
    <h1>Player Register Form</h1>
    
    
    <!--<form #playerForm="ngForm"  *ngIf="active"  (ngSubmit)="onSubmit()">-->
      
      <div class="form-group">
        <label for="name">Player Name</label>
        <input type="text" id="name" class="form-control"
               required minlength="4" maxlength="24"
               name="name" [(ngModel)]="player.name"
               #name="ngModel" >
        <div *ngIf="name.errors && (name.dirty || name.touched)"
             class="alert alert-danger">
            <div [hidden]="!name.errors.required">
              Name is required
            </div>
            <div [hidden]="!name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div [hidden]="!name.errors.maxlength">
              Name cannot be more than 24 characters long.
            </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" class="form-control"
               name="email" required pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9-.]+$"
               [(ngModel)]="player.email" >
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" 
        name="password" [ngModel]="player.password" required [(ngModel)]="player.password">
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" class="form-control" 
        name="confirmPassword" [ngModel]="player.confirmPassword" required validateEqual="password" [(ngModel)]="player.confirmPassword">
      </div>
      
        
      <button type="submit" class="btn btn-default"
             [disabled]="!playerForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default"
             (click)="addPlayer()">New Player</button>
    <!--</form>-->

  </div>
  <player-submitted [player]="player" [(submitted)]="submitted"></player-submitted>

</div>
