<div class="board">
    <!--<div class="board" *ngIf="boats">
        <td class="game-cell" *ngFor="let boat of boats; let i = index"  (click)="clickElemento(i)">
        </td>
    </div>-->
    <table class="battlefield-table">
        <tbody>
            <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9,10]; let l = index">
                <td class="game-cell">{{getLabel(l)}}
                </td>
                <td class="game-cell" *ngFor="let cell of [1,2,3,4,5,6,7,8,9,10]; let i = index"
                    (click)="clickElemento(l,i)">
                </td>
                <!--<cell-board></cell-board>-->
            </tr>

            <tr>
                <td class="game-cell"></td>
                <td class="game-cell" *ngFor="let cell of [1,2,3,4,5,6,7,8,9,10]; let i = index"> {{i+1}}
                </td>
                
                <!--<cell-board>{{i+1}}</cell-board> -->
            </tr>
        </tbody>
    </table>
</div>