<div>
    <h3>Aircraft (1)</h3>
    <table class="centeredTbl">
        <thead></thead>
        <tbody>
        <tr>
                <td>P</td><td></td><td></td>
            </tr>
            <tr>
                <td>P</td><td>P</td><td>P</td>
            </tr>
            <tr>
                <td>P</td><td></td><td></td>
            </tr>
        </tbody>
    </table>
    <h3>Battleship (1)</h3>
    <table class="centeredTbl">
        <thead></thead>
        <tbody>
        <tr>
            <td>N</td><td>N</td><td>N</td><td>N</td>
        </tr>
        </tbody>
    </table>
    <h3>Cruiser (2)</h3>
    <table class="centeredTbl">
        <thead></thead>
        <tbody>
        <tr>
            <td>N</td><td>N</td><td>N</td>
        </tr>
        </tbody>
    </table>
    <h3>Destroyer (3)</h3>
    <table class="centeredTbl">
        <thead></thead>
        <tbody>
        <tr>
            <td>N</td><td>N</td>
        </tr>
        </tbody>
    </table>
    <h3>Submarine (4)</h3>
    <table class="centeredTbl">
        <thead></thead>
        <tbody>
        <tr>
            <td>N</td>
        </tr>

        </tbody>
    </table>
</div>
