<!-- @state   afonso- NOOK    -->

<div class="footer">
    <div class="row">
        <div class="col-sm-12">     
            <div class="footerOne"></div>     <!--  Barra verde de divisão -->
        </div>   
    </div>
    <div class="row" id="footerTwo">
        <div class="col-sm-6">
            <div class="footerTwoLeft">
                <!--<p>&copy;   {{ date("Y") }} proj.....</p>-->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="footerTwoRight">
                <!-- TODO link facebook -->
                <a href="http://www.sapo.pt">Follow us on Facebook | </a>
                <a href="">Contacts | </a>
                <a href="">Map of Site</a>
            </div>
        </div>
    </div>  
</div>  