<!-- TODO aqui será pag. entrada na app -->
<div class="container">
	<div class="headerBar">
	    <p>header</p>
	</div>
	
	<nav>
		<a [routerLink]="['/lobby']" routerLinkActive="active">Lobby</a>
	    <a [routerLink]="['/board']" routerLinkActive="active">Board</a>
	    <a [routerLink]="['/game']" routerLinkActive="active">Game</a>
	    <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
	    <a [routerLink]="['/topTen']" routerLinkActive="active">Top Ten</a>
	    <a [routerLink]="['/gameRules']" routerLinkActive="active">Game Rules</a>
	    <a [routerLink]="['/about']" routerLinkActive="active">About</a>
	</nav>
	<hr>

	<router-outlet></router-outlet>

	<div class="footerBar">
	    <p>footer</p>
	</div>  
</div>  