<div class="container">
	<div class="headerBar">     
	    <p>header</p>
	</div>
	<div class="headerBar2">
		<nav>
			<a [routerLink]="['/lobby']" routerLinkActive="active">Lobby</a>
			<a [routerLink]="['/topten']" routerLinkActive="active">Top Ten</a>
		</nav>
	</div>
	<hr>
	<a [routerLink]="['/register']" routerLinkActive="active" id="otherLocation">Register</a>
	<a [routerLink]="['/login']" routerLinkActive="active" id="otherLocation">Login</a>
	<a [routerLink]="['/board']" routerLinkActive="active" id="otherLocation">Board</a>
	<a [routerLink]="['/game']" routerLinkActive="active" id="otherLocation">Game</a>
    <a [routerLink]="['/players']" routerLinkActive="active" id="otherLocation">(adm) PlayersList</a>

	<router-outlet></router-outlet>

	<hr>
	<div class="footerBar">
		<div class="row">
			<div class="col-md-6">
		    	<p>(c) Copyright @2017 DAD_GRUPO_64</p>
		    </div> 
		    <div class="col-md-6">
		    	<a [routerLink]="['/about']" routerLinkActive="active">About us</a>
		    </div>
	    </div> 
	</div>  
</div>  