<div class="container">
	<div class="headerBar">   
		<a [routerLink]="['/register']" routerLinkActive="active">Register | </a>
		<a [routerLink]="['/login']" routerLinkActive="active"> Login</a>
	</div>
	<div class="headerBar2">
		<nav>
			<a [routerLink]="['/lobby']" routerLinkActive="active" id="menuSpaceOpts">Lobby | </a>
			<a [routerLink]="['/topten']" routerLinkActive="active" id="menuSpaceOpts">Top Ten | </a>
			<a [routerLink]="['/admin']" routerLinkActive="active" id="menuSpaceOpts">Admin Panel</a>
		</nav>
	</div>
	<hr>
	<!-- <a [routerLink]="['/board']" routerLinkActive="active" id="otherLocation">Board</a>
	<a [routerLink]="['/game']" routerLinkActive="active" id="otherLocation">Game</a> -->

	<router-outlet></router-outlet>

	<hr>
	<div class="footerBar">
		<div class="row">
			<div class="col-md-6">
		    	<p>(c) Copyright @2017 DAD_GRUPO_64</p>
		    </div> 
		    <div class="col-md-6">
		    	<a [routerLink]="['/about']" routerLinkActive="active">About us</a>
		    </div>
	    </div> 
	</div>  
</div>  