<div class="container">
	<div>
		<h1>Lobby</h1>
	    <button type="submit" class="btn btn-primary" (click)="createGame()">Create a new game</button>

	    <h4>Games *ALL GAMES</h4>
		<!--<ul>
	        <li *ngFor="let player of players">
	            {{game.playerCreator}} | {{game.numPlayersWaiting}} | <a (click)="joinGame(game.id)">Join</a>
	        </li>
	    </ul> -->
	    <div *ngIf = "listGamesArray">
			<table class="table table-striped">
				<tr>
					<th>*status</th>
					<th>_id</th>
					<th>Player Creator</th>
					<th>Players waiting</th>
					<th>Begin date</th>
					<!-- <th>*join()</th> -->
				</tr>
				<tr *ngFor = "let game of listGamesArray">  
					<td class = "status">{{game.status}}</td>
					<td class = "_id">{{game._id}}</td>
					<td class = "playerCreator">{{game.playerCreator}}</td>
					<td class = "totWaitingPlayers">{{game.totWaitingPlayers}}</td>
					<td class = "beginDate">{{game.beginDate}}</td>
				</tr>
			</table>
		</div>
		<hr>
	    <h4>Games In Progress</h4>
	    <!--
	    <ul>
	        <li *ngFor="let player of players">
	            {{game.playerCreator}} | {{game.numPlayers}} | {{game.gameTime}}
	        </li>
	    </ul> -->
	    <div *ngIf = "listGamesProgress">
			<table class="table table-striped">
				<tr>
					<th>*status</th>
					<th>Player Creator</th>
					<th>Players in game</th>
					<th>*gameDuration</th>
				</tr>
				<tr *ngFor = "let game of listGamesProgress" >  
					<td class = "status">{{game.status}}</td>
					<td class = "playerCreator">{{game.playerCreator}}</td>
					<td class = "totPlayers">{{game.totPlayers}}</td>
					<td class = "duration">{{game.duration}}</td>
				</tr>
			</table>
		</div>
	    <hr>
	</div>
	<div>
		<h1>websocksets</h1>
		<!--<notifications-panel></notifications-panel>	-->
		<p>notifications HERE</p>
		<!--<chat></chat>	-->
		<p>chat HERE</p>
		<hr>
	</div>
</div>