<div class="container">
	<div class="col-md-10 col-md-offset-1" *ngIf="listGamesPendent">
		<button type="submit" class="btn btn-primary" (click)="createGame('1')">New game</button>
		<h5 id="tableTitle">Games Pendent</h5>
		<table class="table table-striped">
			<tr>
				<th id="tableSubtitle">*_id</th>
				<th id="tableSubtitle">Player creator</th>
				<th id="tableSubtitle">Players waiting</th>
				<th id="tableSubtitle"></th>
			</tr>
			<tr *ngFor = "let game of listGamesPendent">  
				<td id="tableList">{{game._id}}</td>
				<td id="tableList">{{game.playerCreator}}</td>
				<td id="tableList">{{game.playersCount}}</td>
				<td><button type="submit" class="btn btn-primary btn-game-join" (click)="joinGame(game, '2')">Join</button></td>
			</tr>
		</table>
		<hr>
	</div>	
	<div class="col-md-10 col-md-offset-1" *ngIf="listGamesProgress">
		<h5 id="tableTitle">Games In Progress</h5>
		<table class="table table-striped">
			<tr>
				<th id="tableSubtitle">*_id</th>
				<th id="tableSubtitle">Player creator</th>
				<th id="tableSubtitle">Players in game</th>
				<th id="tableSubtitle">*gameDuration</th>
			</tr>
			<tr *ngFor = "let game of listGamesProgress">  
				<td id="tableList">{{game._id}}</td>
				<td id="tableList">{{game.playerCreator}}</td>
				<td id="tableList">{{game.playersCount}}</td>
				<td id="tableList">{{game.duration}}</td>
			</tr>
		</table>
		<hr>
	</div>
	<div class="col-md-10 col-md-offset-1">
		<h5 id="tableTitle">*My Games</h5>
		<p id="otherLocation">id: 1 | game_id: 2</p>
		<hr>
	</div>
	<div>
		<notifications-panel></notifications-panel>
		<chat></chat>
	</div>
</div>