<div class="container">
	<div>
		<h1>Lobby</h1>
	    <button type="submit" class="btn btn-primary" (click)="createGame()">Create a new game</button>

	    <h3>Pendent Games</h3>
	    <p>(criador, nr. jogadores à espera, botão 'join')</p>
	    <!--
	    <ul>
	        <li *ngFor="let player of players">
	            {{game.playerCreator}} | {{game.numPlayersWaiting}} | <a (click)="joinGame(game.id)">Join</a>
	        </li>
	    </ul> -->

	    <h3>Games in Progess</h3>
	    <p>(criador, nr. jogadores, tempo decorrido)</p>
	    <!--
	    <ul>
	        <li *ngFor="let player of players">
	            {{game.playerCreator}} | {{game.numPlayers}} | {{game.gameTime}}
	        </li>
	    </ul> -->
	</div>
</div>