<h1>DAD - PROJECT 2</h1>
<div>
	<p class="labelPlayerName">Notificações</p>
	<!-- TODO por aqui notifics. do jogo
	<notifications-panel></notifications-panel>   -->
	<hr>
</div>
<div>
	<game-board></game-board>
	<p class="labelPlayerName">Grelha do "player1"</p>
</div>
<div>
	<game-board></game-board>
	<p class="labelPlayerName">Grelha do "player2"</p>
	<hr>
</div>
<div>
	<init-game-controls></init-game-controls>
	<hr>
</div>
<div>
	<select-ships-controls></select-ships-controls>  
	<hr>
</div>
<div>
	<p class="labelPlayerName">Chat</p>
	<!-- TODO por aqui chat privado de cd jogo
	<chat></chat>   -->
</div>