/* Master Styles */
/* full set of master styles -> https://github.com/angular/angular.io/blob/master/public/docs/_examples/_boilerplate/styles.css    */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-align: center;
    font-family: monospace;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    /* text-align: center; */
}

html {
    box-sizing: border-box;
}

body {
    margin: 2em;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.board {
    width: 350px;
    height: 350px;
    display: inline-block;
    margin-left: 350px;
}

.battlefield-table {
    margin: 10px auto;
    table-layout: fixed;
    width: 330px;       /* 330px / 11 colunas,linhas = 30px cd */
    height: 330px;
}

.battlefield-table tr td {
    width: 30px;
    height: 30px;
    border:  1px solid black;
}

.battlefield-table tr td:first-child {
    border-color: transparent;
    border-right: black;
}

.battlefield-table tr:last-child td {
    border-color: transparent;
    border-top: black;
    text-align: center;
}

.game-cell {
    color: #4286f4;
}

.cell-hit-water {
    color: #4286f4;
}

.cell-hit-ship {
    color: #ff3333;
}

/* TODO usar na board do 2º player. Qd grid estiver bloqueada */
.boardPlayer2 {
    background-color: #adad85;
}

.labelPlayerName {
    color: #ff3333;
    font-size: 15px;
    text-align: center;
}

.controls {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

#initBtns {
    width: 40%;
    display: inline-block;
    float: right;
}

/*
.siderBtn {
    display: block;
    width: inherit;
}

.boatPreviewCell {
    border: thin solid black;
}  */

#tableSubtitle, #tableList {
    text-align: center;
}

/* ############################## LAYOUT BARRA HEADER ############################## */
.headerBar {
    display: block;
    background-color: yellow;
}

.headerBar2 {
    display: block;
    text-align: center;
    background-color: #ebebe0;
}

.headerBar2 a:hover { 
    text-decoration: none;  
    background-color: #ccccb3;  
    /* text-decoration-color: red; */
}

.headerBar2 a:active {   
    text-decoration: none;
    background-color: #ccccb3;
}

/* ############################## LAYOUT BARRA FOOTER ############################## */
.footerBar {
    background-color: #ebebe0;
}

#otherLocation {
    font-style: italic;
} 

/* ############################## VIEW LOBBY ############################## */
#listsTitle {
    color: #00802b;
    font-size: 160%;
    text-align: center;
    font-family: monospace;
} 
