/* Master Styles */
/* full set of master styles -> https://github.com/angular/angular.io/blob/master/public/docs/_examples/_boilerplate/styles.css    */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-align: center;
    font-family: monospace;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}

html {
    box-sizing: border-box;
}

body {
    margin: 2em;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* ############################## LAYOUT BARRA HEADER ############################## */
.headerBar {
    display: block;
    background-color: yellow;
    margin-bottom: 8px;
}

.headerBar2 {
    display: block;
    text-align: center;
    background-color: #ebebe0;
}

.headerBar2 a:hover { 
    text-decoration: none;  
    background-color: #ccccb3;  
}

.headerBar2 a:active {   
    text-decoration: none;
    background-color: #ccccb3;
}

.headerBar2 > a {
    padding-right: 30px;
}

/* ############################## LAYOUT BARRA FOOTER ############################## */
.footerBar {
    background-color: #ebebe0;
}

/* ############################## LAYOUT PARA TABELAS ############################## */
#tableSubtitle, #tableList {
    text-align: center;
}

#tableList {
    line-height: 15px; 
}

#tableTitle {
    color: #369;   /*#00802b; */
    font-size: 160%;
    text-align: center;
    font-family: monospace;
}

.btn-game-join {
    padding: 0px 30px;
    font-size: 17px;
    border-radius: 4px; 
    background: #24b458;
    color: #ffffff;
}

.btn-game-join:hover { 
    background: #006600;
    color: #ffffff;
}

.btn-game-log {
    padding: 0px 30px;
    font-size: 17px;
    border-radius: 4px; 
    background: #e1e1e1;
    color: #ffffff;
}

#btn-game-g {
    padding: 0px 30px;
    font-size: 17px;
    border-radius: 4px; 
    background: #ffffff;
    color: #dd4b39;
}

#btn-game-fb {
    padding: 0px 30px;
    font-size: 17px;
    border-radius: 4px; 
    background: #ffffff;
    color: #3b5999;
}

/* ############################## GamePage ############################## */
/* TODO usar na board do 2º player. Qd grid estiver bloqueada */
.boardPlayer2 {
    background-color: #adad85;
}

#labelPlayerName {
    color: #ff3333;
    font-size: 15px;
    text-align: center;
}

.controls {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}

#initBtns {
    width: 40%;
    display: inline-block;
    float: right;
}

/*
.siderBtn {
    display: block;
    width: inherit;
}

.boatPreviewCell {
    border: thin solid black;
}  */

#otherLocation {
    /* font-style: italic; */
    color: red; 
} 