<div class="container">
	<div class="col-md-6 col-md-offset-3">
	    <h1>Players registered</h1>
	    <!--
	    <ul>
	        <li *ngFor="let player of players">
	            {{player.name}} | {{player.email}} | <a (click)="deleteUser(user.id)">Delete</a>
	        </li>
	    </ul>  -->

		<!-- Mostrar nome, email, numGamesPlayed, numGamesWon, percGamesWon -->
		<div *ngIf = "listPlayers">
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Games Played</th>
				</tr>
				<tr *ngFor = "let player of listPlayers" class = "player">  
					<!--
					<div class = "avatar">
						<img [src] = "player.avatar">
					</div>  -->
					<td class = "name">{{player.name}}</td>
					<td class = "email">{{player.email}}</td>
					<td class = "numGamesPlayed">{{player.numGamesPlayed}}</td>
				</tr>
			</table>
		</div>
    </div>
</div>