<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<!--<h3>Hi {{currentUser.name}}!</h3>   -->
	    <h1>Players registered</h1>
	    <!--
	    <ul>
	        <li *ngFor="let player of players">
	            {{player.name}} | {{player.email}} | <a (click)="deleteUser(user.id)">Delete</a>
	        </li>
	    </ul>  -->
	    <p>lista aquiiiiiiii</p>

		<!-- Mostrar nome, email, numGamesPlayed, numGamesWon, percGamesWon -->
		<!--<div *ngIf = "leaderboard">
			<div *ngFor = "let player of leaderboard" class = "player">   -->

				<!--
				<div class = "avatar">
					<img [src] = "player.avatar">
				</div>  -->
				<!--<div class = "name">{{player.name}}</div>
				<div class = "email">{{player.email}}</div>
				<div class = "numGamesPlayed">{{player.numGamesPlayed}}</div>
				<div class = "numGamesWon">{{player.numGamesWon}}</div>
				<div class = "percGamesWon">{{player.percGamesWon}}</div>
			</div>
		</div>
		-->
    </div>
</div>